/*

RESOURCES
=========

color names: https://developer.mozilla.org/en-US/docs/Web/CSS/named-color

*/

* {
	margin: 0;
	padding: 0;
	}

body {
	font-family: 'IBM Plex Serif', serif;
	font-size: 18px;
	margin: 0 auto; padding: 3em;
	color: #333;
	background: #fafafa;
	}
	
a:link, a:visited {
	display: inline-block;
	color: royalblue;
	text-decoration: none;
	transition: all 250ms ease-out;
	}
	
a::after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	background: navy;
	opacity: 0;
	transition: 200ms ease-out;
	}
	
a:hover {
	color: navy;
	}
	
a:hover::after {
	width: 100%;
	opacity: 0.6;
	}
	
a:active {
	color: dodgerblue;
	text-decoration: none;
	}

h1 {
	font-size: 4em;
	font-weight: bold;
	padding: 0.75em 0 0.5em;
	color: #000;
	border-bottom: 8px solid #F02020;
	}

h2 {
	font-size: 1.5em;
	margin: 0 0 1.5em 0;
	}

h3 {
	font-size: 1.125em;
	margin: 0 0 1.5em 0;
	}
	
h4 {
	font-size: 0.875em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	}

#intro {
	font-size: 1.5em;
	max-width: 30em;
	margin-bottom: 2em;
	}
	
nav {
	padding: 0 2em 2em;
	}

section {
	margin-top: 6em;
	margin-bottom: 5em;
	padding-top: 6em;
	border-top: 4px solid #333;
	}
	
div {
	margin: 3em 0;
	}

article {
	max-width: 40em;
	}

article::after {
	content: '';
	width: 50em;
	height: 1px;
	display: block;
	background: #ddd;
	margin-top: 1.5em;
	}
	
article time {
	font-size: 0.75em;
	display: inline-block;
	float: left;
	width: 10em;
	margin-bottom: 0.5em;
	padding-top: 0.2em;
	color: #999;
	}

article .text {
	display: inline-block;
	margin: 0;
	width: 30em;
	}

article .images figure {
	font-size: 0.75em;
	display: inline-block;
	margin: 2em 0 2em 10em;
	padding: 1em;
	width: 30em;
	background-color: #f0f0f0;
	border: 1px solid #e0e0e0;
	border-radius: 0.3em;
	box-shadow: 0 6px 20px rgba(0,0,0,0.05), inset 0 1px 0 #fff;
	}

article .images img {
	margin :0;
	padding: 0;
	width: 30em;
	}

article figure {
	margin: 0;
	}

article figcaption {
	margin-top: 0.5em;
	color: #888;
	font-style: italic;
	}

article figcaption a:link, article figcaption a:visited {
	padding-left: 0.25em;
	color: #bbb;
	}

article figcaption a:hover {
	color: navy;
	}

p {
	margin-top: 0;
	}

ul {
	padding-inline-start: 1em;
	list-style-type: circle;
	}