/*

RESOURCES
=========

color names: https://developer.mozilla.org/en-US/docs/Web/CSS/named-color

*/

* {
	margin: 0;
	padding: 0;
	}

body {
	font-family: 'IBM Plex Serif', serif;
	font-size: 18px;
	line-height: 1.3333;
	margin: 0 auto;
	color: #333;
	background: #fafafa;
	}
	
a:link, a:visited {
	display: inline-block;
	color: royalblue;
	text-decoration: none;
	transition: all 250ms ease-out;
	}
	
a::after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	background: navy;
	opacity: 0;
	transition: 200ms ease-out;
	}
	
a:hover {
	color: navy;
	}
	
a:hover::after {
	width: 100%;
	opacity: 0.6;
	}
	
a:active {
	color: dodgerblue;
	text-decoration: none;
	}

h1 {
	font-size: 4em;
	font-weight: bold;
	padding: 0.75em 0 0.5em;
	color: #000;
	border-bottom: 8px solid #F02020;
	}

h2 {
	font-size: 1.3333em;
	margin: 0 0 2em 0;
	}

h3 {
	font-size: 1.1666em;
	line-height: 1em;
	margin: 0 0 1.5em 0;
	}
	
h4 {
	font-size: 0.7777em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #000;
	margin: 3.8571em 0 0.5714em;
	}

small {
	font-size: .7777em;
	}

blockquote {
	padding: 1em 0 1em 3em;
	font-style: italic;
	line-height: 1.5em;
	position: relative;
	}

blockquote p {
	position: relative;
	}

blockquote p::before {
	content: '“';
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	font-size: 4em;
	font-style: normal;
	top: 0.25em;
	left: -0.75em;
	color: lightgrey;
	}

.info {
	color: dodgerblue;
	}

header {
	 padding: 3em;
	}

#intro {
	font-size: 1.333em;
	max-width: 34em;
	margin: 3em 0 1.5em;
	}
	
nav {
	margin: 6em 0 0;
	padding: 0 2em 2em;
	}

nav ul {
	margin: 1.5em 0 0 0;
	}

nav li {
	margin-bottom: 0.2222em;
	}

#toc_link_top {
	position: sticky;
	top: 90vh;
	left: 90vw;
	font-size: 0.666em;
	text-align: center;
	display: block;
	width: 8em;
	padding: 1em 1.5em;
	border-radius: 0.5em;
	background-color: rgba(0,0,0,0.03);
	backdrop-filter: blur(10px);
}

#toc_link_top:hover {
	background-color: #fff;
}

main {
	 padding: 3em;
	}

#toc_link {
	display: none;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.4;
	background-color: #fff;
	border: 1px solid grey;
	position: absolute;
	right: 2em;
	bottom: 2em;
}

section {
	margin-top: 6em;
	margin-bottom: 5em;
	padding-top: 6em;
	border-top: 4px solid #333;
	}
	
.topic {
	margin: 3em 0;
	}

article {
	max-width: 44em;
	}

.topic::after {
	content: '';
	width: 50em;
	height: 1px;
	display: block;
	background: #ddd;
	margin-top: 4em;
	}

.topic:last-of-type::after {
	background: transparent;
}
	
article time {
	font-size: 0.7777em;
	display: inline-block;
	float: left;
	width: 10em;
	margin-bottom: 0.5em;
	padding-top: 0.3em;
	color: #999;
	}

article .text {
	display: inline-block;
	margin: 0;
	width: 34em;
	}

article .text p + h3 {
	margin-top: 3.4284em;
	}

article .images figure {
	font-size: 0.75em;
	display: inline-block;
	margin: 2em 0 2em 10em;
	padding: 1em;
	width: 30em;
	background-color: #f0f0f0;
	border: 1px solid #e0e0e0;
	border-radius: 0.3em;
	box-shadow: 0 6px 20px rgba(0,0,0,0.05), inset 0 1px 0 #fff;
	}

article .images img {
	margin :0;
	padding: 0;
	width: 30em;
	}

article figure {
	margin: 0;
	}

article figcaption {
	margin-top: 0.5em;
	color: #888;
	font-style: italic;
	}

article figcaption a:link, article figcaption a:visited {
	padding-left: 0.25em;
	color: #bbb;
	}

article figcaption a:hover {
	color: navy;
	}

p {
	margin: 0 0 1.3888em;
	}

ul {
	padding-inline-start: 1em;
	list-style-type: "•  ";
	}

ol {
	padding-inline-start: 1.25em;
	}

li {
	margin-bottom: 1em;
	}

li::marker {
	color: #999;}

ol li::marker {
	font-size: 0.777em;
	font-weight: 800;
}

.swatches {
	width: 30em;
	margin: 3em 0;
	padding: 2em;
	overflow: hidden;
	background-color: #fff;
	/* background-color: yellow; */
	box-shadow: 0 6px 20px rgba(0,0,0,0.05);
	}

.swatch_3_square {
	font-size: 0.5555em;
	margin: 0;
	padding: 2em;
	width: 14em;
	height: 14em;
	float: left;
	color: rgba(0,0,0,0.4);
	}

.swatch_4_square {
	font-size: 0.5555em;
	margin: 0;
	padding: 2em;
	width: 9.5em;
	height: 9.5em;
	float: left;
	color: rgba(0,0,0,0.6);
	}

.swatch_5_square {
	font-size: 0.5555em;
	margin: 0;
	padding: 2em;
	width: 6.8em;
	height: 6.8em;
	float: left;
	color: rgba(0,0,0,0.6);
	}

.icon_swatch {
	font-size: 0.5555em;
	margin: 0 1.6em 1.6em 0;
	padding: 1em;
	width: 2.4em;
	height: 5.2em;
	float: left; 
/* 	background-color: #fafafa; */
}

.icon_swatch_24 {
	margin: 0 0 0.8em;
	padding: 0;
	width: 2.4em;
	height: 2.4em;
	float: left;
	}

.icon_swatch_16 {
	margin: 0.4em 0 0 0.4em;
	padding: 0;
	width: 1.6em;
	height: 1.6em;
	float: left;
	}

.artboard a {
	display: inline-block;
	margin: 0 1em 3.4285em 0;
	padding: 1.0714em 2em 1em 3.4285em;
	background: rgba(255,255,255,0.7) url(img/icn/artboard.svg) no-repeat 1em 0.7857em;
	transition: all 250ms ease-out;
	}

.artboard a:hover {
	background: rgba(255,255,255,1) url(img/icn/artboard_fill.svg) no-repeat 1em 0.7857em;
	}

.screen_sample {
	width: 130%;
	margin: 3em 0;
	border: 1em solid #fff;
	box-shadow: 0 6px 20px rgba(0,0,0,0.05);
	font-family: "IBM Plex sans";
	font-size: 0.8888em; /* 16px @ 18px */
	overflow: hidden;
}

article .text .screenshot figure {
	margin-left: 0;
	width: 60em;
}

article .text .screenshot img {
	width: 60em;
}

.ambientA {
	background-color: #EFF3F5;
}

.ambientB {
	background-color: #F7F6EE;
}

.ambientC {
	background-color: #F0F4F1;
}

.ambientD {
	background-color: #F4F3FC;
}

.elevation {
	display: block;
	width: 6em;
	height: 6em;
	border-radius: 0.5em;
	background-color: #fff;
	float: left;
	margin: 3em 0 3em 3em;
}

.ambientA .down1 {
	background: #E9EFF2;
	box-shadow: inset 0 2px 2px -1px rgba(111,158,202,0.47), inset 0 1px 2px 0 rgba(0,0,0,0.20), 0 1px 0 0 #FFFFFF;
}

.ambientA .up1 {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), 0 2px 2px -1px rgba(24,68,239,0.16);
}

.ambientA .up2 {
	box-shadow: inset 0 1px 0 0 #FFFFFF, 0 2px 4px 0 rgba(0,0,0,0.16), 0 4px 7px -3px rgba(24,68,239,0.19);
}

.ambientA .up3 {
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.19), 0 5px 7px -3px rgba(0,0,0,0.10), 0 13px 12px -5px rgba(24,68,239,0.11);
}

.ambientA .up4 {
	box-shadow: 0 3px 5px -2px rgba(0,0,0,0.10), 0 16px 30px -5px rgba(0,0,0,0.16), 0 6px 21px -5px rgba(24,68,239,0.26);
}

.ambientB .down1 {
	background: #F2F0E4;
	box-shadow: inset 0 2px 2px -1px rgba(214,153,93,0.17), inset 0 1px 2px 0 rgba(0,0,0,0.20), 0 1px 0 0 #FFFFFF;
}

.ambientB .up1 {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 2px 2px -1px rgba(255,171,88,0.27);
}

.ambientB .up2 {
	box-shadow: inset 0 1px 0 0 #FFFFFF, 0 2px 4px 0 rgba(0,0,0,0.22), 0 4px 7px -3px rgba(255,171,88,0.17);
}

.ambientB .up3 {
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.15), 0 5px 9px -3px rgba(0,0,0,0.20), 0 13px 12px -5px rgba(255,171,88,0.13);
}

.ambientB .up4 {
	box-shadow: 0 3px 5px -2px rgba(0,0,0,0.16), 0 16px 30px -5px rgba(0,0,0,0.19), 0 6px 21px -5px rgba(255,171,88,0.31);
}

.ambientC .down1 {
	background: #EAF0EB;
	box-shadow: inset 0 2px 2px -1px rgba(111,158,202,0.47), inset 0 1px 2px 0 rgba(0,0,0,0.20), 0 1px 0 0 #FFFFFF;
}

.ambientC .up1 {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 2px 2px -1px rgba(102,162,217,0.27);
}

.ambientC .up2 {
	box-shadow: inset 0 1px 0 0 #FFFFFF, 0 2px 4px 0 rgba(0,0,0,0.23), 0 4px 7px -3px rgba(115,181,241,0.28);
}

.ambientC .up3 {
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.19), 0 5px 9px -3px rgba(0,0,0,0.20), 0 13px 12px -5px rgba(120,174,225,0.18);
}

.ambientC .up4 {
	box-shadow: 0 3px 5px -2px rgba(0,0,0,0.10), 0 16px 30px -5px rgba(0,0,0,0.20), 0 6px 21px -5px rgba(101,169,232,0.34);
}

.ambientD .down1 {
	background: #EFEDF7;
	box-shadow: inset 0 2px 2px -1px rgba(182,171,232,0.47), inset 0 1px 2px 0 rgba(0,0,0,0.20), 0 1px 0 0 #FFFFFF;
}

.ambientD .up1 {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 2px 2px -1px rgba(177,160,255,0.27);
}

.ambientD .up2 {
	box-shadow: inset 0 1px 0 0 #FFFFFF, 0 2px 4px 0 rgba(0,0,0,0.21), 0 4px 7px -3px rgba(177,160,255,0.28);
}

.ambientD .up3 {
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.19), 0 5px 9px -3px rgba(0,0,0,0.20), 0 13px 12px -5px rgba(177,160,255,0.18);
}

.ambientD .up4 {
	box-shadow: 0 3px 5px -2px rgba(0,0,0,0.10), 0 16px 30px -5px rgba(0,0,0,0.20), 0 6px 21px -5px rgba(144,120,255,0.34);
}

.screen_sample > p {
	font-family: "IBM Plex Serif";
	font-size: 0.875em;
	font-style: italic;
	color: rgba(0,0,0,0.3);
	margin: 5em 0 5em 4.5em;
}

.banner {
	width: 100%;
	height: 2.75em;
	margin: 0 0 3em 0;
}

.banner.info {
	color: #216482;
	background: #E6F7FF url(img/icn/banner-info.svg) no-repeat 1.5em 0.625em;
	box-shadow: 0 1px 0 0 #70C1E5, 0 2px 0 0 #E6F7FF, 0 3px 0 0 #70C1E5, 0 4px 0 0 #fff;
}

.banner.success {
	color: #0B723C;
	background: #E6F7EE url(img/icn/banner-success.svg) no-repeat 1.5em 0.625em;
	box-shadow: 0 1px 0 0 #3CCA80, 0 2px 0 0 #E6F7EE, 0 3px 0 0 #3CCA80, 0 4px 0 0 #fff;
}

.banner.warning {
	color: #7D521E;
	background: #FDF5E1 url(img/icn/banner-warning.svg) no-repeat 1.5em 0.625em;
	box-shadow: 0 1px 0 0 #EAA72B, 0 2px 0 0 #FDF5E1, 0 3px 0 0 #EAA72B, 0 4px 0 0 #fff;
}

.banner.error {
	color: #D91C1C;
	background: #FFEEED url(img/icn/banner-error.svg) no-repeat 1.5em 0.625em;
	box-shadow: 0 1px 0 0 #FF6868, 0 2px 0 0 #FFEEED, 0 3px 0 0 #FF6868, 0 4px 0 0 #fff;
}

.banner p {
	display: block;
	float: left;
	font-weight: 600;
	margin: 0.6875em 0 0 4em;
}

.banner p.banner_message_content {
	font-weight: normal;
	margin: 0.6875em 0 0 1em;
}

a.banner_close:link, a.banner_close:visited {
	display: block;
	float: right;
	margin: 0.875em 1em 0 0;
	width: 1em;
	height: 1em;
	text-indent: -9999em;
	opacity: 0.4;
}

a.banner_close:hover {
	opacity: 1;
}

a.banner_close:hover::after {
	opacity: 0;
}

.info a.banner_close:link, .info a.banner_close:visited {
	background: transparent url(img/icn/close-banner-info.svg) no-repeat left top;
}

.success a.banner_close:link, .success a.banner_close:visited {
	background: transparent url(img/icn/close-banner-success.svg) no-repeat left top;
}

.warning a.banner_close:link, .warning a.banner_close:visited {
	background: transparent url(img/icn/close-banner-warning.svg) no-repeat left top;
}

.error a.banner_close:link, .error a.banner_close:visited {
	background: transparent url(img/icn/close-banner-error.svg) no-repeat left top;
}

#end {
	font-size: 2em;
	color: rgba(0,0,0,0.1);
	padding: 3em 0 0 3.8em;
}

footer {
	padding: 3em 3em 3em 10.7777em;
	height: 1em;
	background: gainsboro;
	}
footer p {
	font-size: .7777em;
	font-style: italic;
	color: #aaa;
	}